*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    }
    .main-content{
        position: relative;
        overflow-x: hidden;
        margin-left: 240px;
        background-color: var(--bg-light-gray);
       
    }
:root{
    --primary-color: #497CF7;
    --secondary-color: #7A7C8D;
    --white: #ffffff;
    --text-color: #DCDBE1;
    --bg-gray:#DFE5FD;
    --bg-green:#EDF5F7;
    --icon-green:#8BC4BC;
    --bg-light-gray:#E0E5FD;
    --red:#d6545f;
    }
    .sidebar{
        height: 100%;
        width: 240px;
        position:fixed;
        left:0;
        top:0;
        z-index:100;
        background-color: var(--primary-color);
        color: var(--text-color);
        padding: 16px 24px;
        overflow-y: auto;
    
    }
    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0rem 1rem;
    }
    .sidebar-menu{
        padding: 1rem;
    }
    .sidebar ul li{
        margin: 1rem 0;
    }
    .sidebar ul li a {
        color: var(--white);
    }
    .sidebar-menu ul li a{
        display: flex;
        height:auto;
        align-items: center;
        gap:12px;
    }
    .bx {
        font-size: 24px;
    }
    .bx-menu{
        font-size: 32px;
    }
    
    .main-content{
        position: relative;
        overflow-x: hidden;
        margin-left: 240px;
        background-color: var(--bg-light-gray);
        transition: left 400ms;
       
    }
     header{
        position: fixed;
        top:0;
        z-index: 100;
        width: calc(100% - 240px);
        left: 240px;
        background: #fff;
        height:80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 3px #777;
        padding:0 1.2rem;
        transition: left 400ms;
        
    }
    main {
        margin-top: 60px;
        min-height: 90vh;
       
        padding:1.2rem;
         
    }
    form{
        width: 60%;
      }
      .form-wrapper{
        display:flex;
        background-color: var(--bg-light-gray);
      }
      .form-label{
        margin-top: 4px;
        font-size: 12px;
        font-weight: 400;
        color: var(--secondary-color);
     
      }
    
      @media only screen and (max-width: 768px){
        .input-wrapper{
          position: relative;
          width: 60%;
        }
        .input-wrapper span{
          position:absolute;
          top: 10px;
          right: 10px;
          
          font-weight: 500;
         
          color: var(--secondary-color)
          
        }
        .input-wrapper{
          position: relative;
          width: 50%;
        }
      }
     
      .input-wrapper{
        position: relative;
        width: 100%;
      }
      .input-wrapper select{
        left:0;
        width:150px;
        position: absolute;
        padding: .7rem 1rem;
        outline:none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
  }
      .input-wrapper select > option{
        font-size: 16px;
        font-weight: 500;
        color:var(--secondary-color)
      }
      input[type=search]{
        display: flex;
        align-items: center;
        height: auto;
        padding: .7rem 10rem;
        width: 100%;
        z-index: 20;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
        outline: none;
     
      }
      ::placeholder {
        font-size: 16px;
        font-weight: 400;
        color:var(--secondary-color)
      }
      .input-wrapper span{
        position:absolute;
        top: 10px;
        right: 12px;
        
        font-weight: 500;
       
        color: var(--secondary-color)
        
      }
      /* responsive views */
      #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span:last-child,
      #sidebar-toggle:checked ~ .sidebar li span:last-child{
        display: none;
      }
      #sidebar-toggle:checked ~ .sidebar{
        width:auto;
      }
      #sidebar-toggle:checked ~ .main-content{
       
        margin-left: 100px;
      }
      #sidebar-toggle:checked ~ .main-content header{
        left: 112px;
        width: calc(100% - 112px);
        
      }
 @media only screen and (max-width: 768px){
  .sidebar .sidebar-header h3 span:last-child,
  .sidebar li span:last-child{
    display: none;
  }
  .sidebar{
    width:100px;
  }
  .main-content{
   
    margin-left: 100px;
  }
  .main-content header{
    
    width: calc(100% - 100px);
    
  }
  header {
    width: calc(100% - 100px);
    left: 100px;
  }
  header div h3{
    display: none;
  }
  th, td {
    display: table-cell;
    width: auto;
  }
  
  th {
    text-align: left;
  }
 

 }