
   table{
        width: 100%;
        border-collapse: collapse;
        border: none;
        background-color: #fff;
        margin-top: 30px;
     }
     .table-wrapper{
      overflow-x: auto;
     }
     table thead{
      background-color: var(--primary-color);
      color: var(--secondary-color);
      text-align: left;
     }
     th{
        color: var(--white);
        font-size: .9rem;
        padding: .7rem 1.2rem;
     }
      td{
        font-size: .9rem;
        color: var(--secondary-color);
        padding: .7rem 1.2rem;
      ;
     }
     td:third-child{
     width:1000px;
     }
     
   table tbody tr td:last-child button{
        border: 1px solid var(--primary-color);
        background-color: transparent;
        color: var(--primary-color);
        border-radius: 5px;
        font-weight: 700;
        padding: .8rem 1rem;
        ;
     }
     main {
        margin-top: 80px;
        min-height: 90vh;
       
        padding:1.2rem;
         
    }